html,body,#root {
  height: 100%;
  margin: 0;
  font-family: "Roboto", "Noto Sans SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background-image: radial-gradient(circle at 10% 20%, rgba(167,139,250,0.06), transparent 10%), linear-gradient(135deg, #eaf2ff 0%, #f7f8fb 50%, #ffffff 100%);
  background-color: #f6f7fb;
  background-attachment: fixed;
  color: #0f172a;
}
a { text-decoration: none; color: inherit; }
